<a href="https://colab.research.google.com/github/rogerdemori/PosTech_Data_Analytics/blob/main/tech_challenge_DTAT2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [39]:
df = pd.read_csv('/content/tech-challenge-fiap_fase-2_ibovespa.csv', sep=',')
df.head(10)

         Data   Último  Abertura   Máxima   Mínima    Vol.    Var%
0  24.08.2023  117.026   118.135  118.136  116.848   9,20M  -0,94%
1  23.08.2023  118.135   116.160  118.135  116.159  11,54M   1,70%
2  22.08.2023  116.156   114.433  116.286  114.433   9,83M   1,51%
3  21.08.2023  114.429   115.404  115.425  114.067   9,79M  -0,85%
4  18.08.2023  115.409   114.973  115.729  114.423  10,60M   0,37%
5  17.08.2023  114.982   115.592  116.610  114.859  12,75M  -0,53%
6  16.08.2023  115.592   116.171  117.338  115.534  18,86M  -0,50%
7  15.08.2023  116.171   116.809  117.697  116.033  14,64M  -0,55%
8  14.08.2023  116.810   118.067  118.082  116.530  11,20M  -1,06%
9  11.08.2023  118.065   118.350  119.054  117.415  11,87M  -0,24%

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3381 entries, 0 to 3380
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Data      3381 non-null   object
 1   Último    3381 non-null   float64
 2   Abertura  3381 non-null   float64
 3   Máxima    3381 non-null   float64
 4   Mínima    3381 non-null   float64
 5   Vol.      3380 non-null   object
 6   Var%      3381 non-null   object
dtypes: float64(4), object(3)
memory usage: 185.0+ KB

In [41]:
df.isnull().sum()

Data        0
Último      0
Abertura    0
Máxima      0
Mínima      0
Vol.        1
Var%        0
dtype: int64

In [42]:
df[df['Vol.'].isna()]

            Data  Último  Abertura  Máxima  Mínima Vol.    Var%
1872  10.02.2016  40.377    40.592  40.592   39.96  NaN  -0,53%

In [43]:
df['Vol.'] = df['Vol.'].fillna(0)

In [44]:
df['Data'] = pd.to_datetime(df['Data'],format='%d.%m.%Y')
df.head(10)

        Data   Último  Abertura   Máxima   Mínima    Vol.    Var%
0 2023-08-24  117.026   118.135  118.136  116.848   9,20M  -0,94%
1 2023-08-23  118.135   116.160  118.135  116.159  11,54M   1,70%
2 2023-08-22  116.156   114.433  116.286  114.433   9,83M   1,51%
3 2023-08-21  114.429   115.404  115.425  114.067   9,79M  -0,85%
4 2023-08-18  115.409   114.973  115.729  114.423  10,60M   0,37%
5 2023-08-17  114.982   115.592  116.610  114.859  12,75M  -0,53%
6 2023-08-16  115.592   116.171  117.338  115.534  18,86M  -0,50%
7 2023-08-15  116.171   116.809  117.697  116.033  14,64M  -0,55%
8 2023-08-14  116.810   118.067  118.082  116.530  11,20M  -1,06%
9 2023-08-11  118.065   118.350  119.054  117.415  11,87M  -0,24%

In [45]:
df['Último'] = df['Último'] * 1000
df['Último'] = df['Último'].astype(int)
df['Abertura'] = df['Abertura'] * 1000
df['Abertura'] = df['Abertura'].astype(int)
df['Máxima'] = df['Máxima'] * 1000
df['Máxima'] = df['Máxima'].astype(int)
df['Mínima'] = df['Mínima'] * 1000
df['Mínima'] = df['Mínima'].astype(int)
df['Vol.'] = df['Vol.'].str[:-1]
df['Var%'] = df['Var%'].str[:-1]
df['Vol.'] = df['Vol.'].str.replace(',','.')
df['Var%'] = df['Var%'].str.replace(',','.')
df['Vol.'] = df['Vol.'].astype(float)
df['Var%'] = df['Var%'].astype(float)
df['Vol.'] = df['Vol.'] * 1000000
df['Var%'] = df['Var%']/100
df.head(10)

        Data  Último  Abertura  Máxima  Mínima        Vol.    Var%
0 2023-08-24  117026    118135  118136  116848   9200000.0 -0.0094
1 2023-08-23  118135    116160  118135  116159  11540000.0  0.0170
2 2023-08-22  116156    114433  116286  114433   9830000.0  0.0151
3 2023-08-21  114429    115404  115425  114067   9790000.0 -0.0085
4 2023-08-18  115409    114973  115729  114423  10600000.0  0.0037
5 2023-08-17  114982    115592  116610  114859  12750000.0 -0.0053
6 2023-08-16  115592    116171  117338  115534  18860000.0 -0.0050
7 2023-08-15  116171    116809  117697  116033  14640000.0 -0.0055
8 2023-08-14  116810    118067  118082  116530  11200000.0 -0.0106
9 2023-08-11  118065    118350  119054  117415  11870000.0 -0.0024

In [46]:
df = df.set_index(['Data'])
df.head(10)

            Último  Abertura  Máxima  Mínima        Vol.    Var%
Data
2023-08-24  117026    118135  118136  116848   9200000.0 -0.0094
2023-08-23  118135    116160  118135  116159  11540000.0  0.0170
2023-08-22  116156    114433  116286  114433   9830000.0  0.0151
2023-08-21  114429    115404  115425  114067   9790000.0 -0.0085
2023-08-18  115409    114973  115729  114423  10600000.0  0.0037
2023-08-17  114982    115592  116610  114859  12750000.0 -0.0053
2023-08-16  115592    116171  117338  115534  18860000.0 -0.0050
2023-08-15  116171    116809  117697  116033  14640000.0 -0.0055
2023-08-14  116810    118067  118082  116530  11200000.0 -0.0106
2023-08-11  118065    118350  119054  117415  11870000.0 -0.0024